<div class="jumbotron">
  <h2>LawyerJury is the best way to find reviews on local attorneys.</h2>
  <h3>Find legal experts in your community.<br>
Leave reviews and ratings to share your experience with others.</h3>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Practice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lawyers.each do |lawyer| %>
      <tr>
        <td><%= lawyer.name %></td>
        <td><%= lawyer.address %></td>
        <td><%= lawyer.city %></td>
        <td><%= lawyer.state %></td>
        <td><%= lawyer.zip %></td>
        <td><%= lawyer.phone %></td>
        <td><%= link_to lawyer.website, lawyer.website %></td>
        <td><%= lawyer.practice %></td>
        <td><%= link_to 'Show', lawyer, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_lawyer_path(lawyer), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', lawyer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lawyer', new_lawyer_path, class: "btn btn-link" %>

<%= image_tag "https://s3.amazonaws.com/ratejury/happy_footer.png" %>