<div class="row">
  <div class="col-md-5">
    <%= image_tag @lawyer.image_url %>

<h2>
  <%= @lawyer.name %>
</h2>

<p>
  <strong>Address:</strong>
  <%= @lawyer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @lawyer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @lawyer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @lawyer.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lawyer.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @lawyer.website, @lawyer.website %>
</p>

<p>
  <strong>Practice:</strong>
  <%= @lawyer.practice %>
</p>

<%= link_to "Write a Review", new_lawyer_review_path(@lawyer), class: "btn btn-primary" %>
  </div>

  <div class="col-md-7">
    <% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to write one!</h3>
      <% else %>
  <% @reviews.each do |review| %>
  <div class="star-rating" data-score= <%= review.rating %>></div>
  <p><%= review.comment %></p>
      <% end %>

  <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_lawyer_path(@lawyer), class: "btn btn-link" %> |
<%= link_to 'Back', lawyers_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/ratejury/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
  }
  });
</script>
