<%= image_tag @lawyer.image_url %>

<p>
  <strong>Name:</strong>
  <%= @lawyer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lawyer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @lawyer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @lawyer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @lawyer.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lawyer.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @lawyer.website %>
</p>

<p>
  <strong>Practice:</strong>
  <%= @lawyer.practice %>
</p>

<%= link_to "Write a Review", new_lawyer_review_path(@lawyer), class: "btn btn-primary" %>

<%= link_to 'Edit', edit_lawyer_path(@lawyer), class: "btn btn-link" %> |
<%= link_to 'Back', lawyers_path, class: "btn btn-link" %>
